*.so filter=lfs diff=lfs merge=lfs -text
“*.csv” filter=lfs diff=lfs merge=lfs -text
“*.1” filter=lfs diff=lfs merge=lfs -text
*.so.2.25.1 filter=lfs diff=lfs merge=lfs -text
lib/nccl/libnccl.so.2.25.1 filter=lfs diff=lfs merge=lfs -text
lib/nvshmem/libnvshmem_host.so.3.2.5 filter=lfs diff=lfs merge=lfs -text
